.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0, 0, 0, .9 );
    display: flex;
    justify-content: center;
    align-items: center;
}

.category{
    margin: 10px 15px;
    cursor:pointer;
}